process {
    withName: TMB_CALIBRATION {
        container = "${params.container_dir}/r-tidyverse-optparse-v4.2.1.simg"
        cpus = 16
        memory = 64.GB
        publishDir = [
            path: { "${params.output_dir}/variants/tmb" },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv,yml}"
        ]
    }
}