params {
    release           = '1.0.0'
    publish_dir_mode  = 'copy'
    multi_params      = true
    save_trimmed      = true
    save_split_fastqs = true
    save_trimmed_fail = false
    save_merged       = false
    skip_fastqc       = false
    skip_fastp        = false
    val_sort_bam      = false
    container_dir     = '/shared/singularity'
    adapter_fasta     = 'TruSeq-PE.fa'
    split_reads       = false
    store_dir         = '/CCS/tmb'
    project_dir       = '/shared/scripts/tmb'
}

report {
    enabled = false
    file = "nextflow.html"
}

timeline {
    enabled = false
    file = "timeline.html"
}

dag {
    enabled = false
    file    = "dag.html"
}

singularity {
  enabled = true
  autoMounts = true
}

process {
    executor = 'slurm'
    queue = 'ycga'

    // default resource allocation
    cpus = 12
    memory = 48.GB
}

executor {
    $slurm {
        // The number of tasks the executor will handle in a parallel manner (default: 100).
        queueSize = 200
        // Determines how long the executor waits before return an error status when a process is terminated but the exit file does not exist or it is empty. This setting is used only by grid executors (default: 270 sec).
        exitReadTimeout = '90min'
        // Determines the max rate of jobs that can be executed per time unit, for example '10 sec' eg. max 10 jobs per second (default: unlimited).
        submitRateLimit = '60 sec'
    }
}

// to make this extendable to other references in the future
profiles {
    hg19 {
        params.reference_file = '/resources/human_g1k_v37_decoy_plus_virus/human_g1k_v37_decoy_plus_virus.fasta'
        params.fai_file = '/resources/human_g1k_v37_decoy_plus_virus/human_g1k_v37_decoy_plus_virus.fasta.fai'
        params.dict_file = '/resources/human_g1k_v37_decoy_plus_virus/human_g1k_v37_decoy_plus_virus.dict'
        // fill your path to a cosmic 64 VCF below
        params.vep_cache = '/resources/vep_data/release_99'
        params.cosmic_vcf = '/resources/COSMIC/COSMIC.vcf'
        params.filter_vcf = '/resources/GRCh37/small_exac_common_3.vcf'
        params.dbsnp_vcf = '/resources/GRCh37/gatk_bundle/hg19_v0_dbsnp_138.b37.vcf.gz'
        params.dbsnp_vcf_tbi = '/resources/GRCh37/gatk_bundle/hg19_v0_dbsnp_138.b37.vcf.gz.tbi'
        params.known_indel_vcf = '/resources/GRCh37/gatk_bundle/hg19_v0_Mills_and_1000G_gold_standard.indels.b37.vcf.gz'
        params.known_indel_vcf_tbi = '/resources/GRCh37/gatk_bundle/hg19_v0_Mills_and_1000G_gold_standard.indels.b37.vcf.gz.tbi'
        params.known_snp_vcf = '/resources/GRCh37/gatk_bundle/hg19_v0_1000G_phase1.snps.high_confidence.b37.vcf.gz'
        params.known_snp_vcf_tbi = '/resources/GRCh37/gatk_bundle/hg19_v0_1000G_phase1.snps.high_confidence.b37.vcf.gz.tbi'
        params.gnomad_exome_vcf = '/resources/GRCh37/af-only-gnomad.raw.sites.b37.vcf.gz'
        params.gnomad_exome_vcf_tbi = '/resources/GRCh37/af-only-gnomad.raw.sites.b37.vcf.gz.tbi'
        params.exac_common_vcf = '/resources/GRCh37/small_exac_common_3.vcf.gz'
        params.exac_common_vcf_tbi = '/resources/GRCh37/small_exac_common_3.vcf.gz.tbi'
        params.tumor_panel_bed_files = "/resources/hs37d5_tumor_panel_target_regions/*.bed"
        params.tumor_panel_bed = '/resources/hs37d5_tumor_panel_target_regions.annotated.50bp_buffer.sorted.bed'
        params.tumor_panel_bed_gz = '/resources/hs37d5_tumor_panel_target_regions.annotated.50bp_buffer.sorted.bed.gz'
        params.tumor_panel_bed_tbi = '/resources/hs37d5_tumor_panel_target_regions.annotated.50bp_buffer.sorted.bed.tbi'
        params.exome_plus_tumor_panel_bed = '/resources/BEDs/hs37d5_exome_plus_tumor_panel_target_regions.annotated.50bp_buffer.sorted.bed'
    }
}

// Load subworkflow config files
includeConfig 'subworkflows/index_genome/nextflow.config'
includeConfig 'subworkflows/fastq_fastp_fastqc/nextflow.config'
includeConfig 'subworkflows/align_markdup_bqsr_stats/nextflow.config'
includeConfig 'subworkflows/snv_mutect2/nextflow.config'
includeConfig 'subworkflows/snv_strelka2/nextflow.config'
includeConfig 'subworkflows/calculate_tmb/nextflow.config'