params.release = '1.0.0'
params.publish_dir_mode = 'copy'
params.multi_params = true
params.adapter_fasta='TruSeq-PE.fa'
params.save_trimmed = true

singularity {
  enabled = true
  autoMounts = true
}

process {
    // this should pull the continer from the sylabs repo on first run
    executor = 'slurm'
    queue = 'ycga'

    // default resource allocation
    cpus = 8
    memory = 48.GB

    // process-specific resource allocation (overrides defaults)
    withName: TRIMMOMATIC {
        ext.args = 'ILLUMINACLIP:TruSeq-PE.fa:2:30:10:1:true LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:35'
        publishDir = [
            [
                path: { "${params.outdir}/reports/trim/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,json,log}"
            ],
            [
                path: { "${params.outdir}/preprocessing/" },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz",
                saveAs: { params.save_trimmed || params.save_split_fastqs ?  "trimmomatic/${meta.id}/${it}" : null }
            ]
        ]
    }
}

// to make this extendable to other references in the future
profiles {
    hg19 {
        params.reference_file = 'human_g1k_v37.fasta'
        // fill your path to a cosmic 64 VCF below
        params.cosmic_vcf = 'COSMIC.vcf'
        params.dbsnp_vcf = '/resources/GRCh37/dbsnp_138.b37.vcf.gz'
        params.tumor_panel_bed = '/resources/BEDs/target_regions.bed'
        params.exome_bed = '/resources/BEDs/exome_regions.bed'
    }
}