params {
    release = '1.0.0'
    publish_dir_mode = 'copy'
    multi_params = true
    container_dir = '/shared/singularity'
    adapter_fasta='TruSeq-PE.fa'
}

report {
    enabled = true
    file = "nextflow.html"
}

timeline {
    enabled = true
    file = "timeline.html"
}

singularity {
  enabled = true
  autoMounts = true
}

process {
    executor = 'slurm'
    queue = 'ycga'

    // default resource allocation
    cpus = 8
    memory = 48.GB
}

executor {
    $slurm {
        // The number of tasks the executor will handle in a parallel manner (default: 100).
        queueSize = 50
        // Determines how long the executor waits before return an error status when a process is terminated but the exit file does not exist or it is empty. This setting is used only by grid executors (default: 270 sec).
        exitReadTimeout = '90min'
        // Determines the max rate of jobs that can be executed per time unit, for example '10 sec' eg. max 10 jobs per second (default: unlimited).
        submitRateLimit = '10 sec'
    }
}

// to make this extendable to other references in the future
profiles {
    hg19 {
        params.reference_file = '/resources/human_g1k_v37_decoy_plus_virus/human_g1k_v37_decoy_plus_virus.fasta'
        params.bwa_index = '/resources/human_g1k_v37_decoy_plus_virus/bwa'
        params.ref_fai = '/resources/human_g1k_v37_decoy_plus_virus/human_g1k_v37_decoy_plus_virus.fai'
        params.ref_dict = '/resources/human_g1k_v37_decoy_plus_virus/human_g1k_v37_decoy_plus_virus.dict'
        // fill your path to a cosmic 64 VCF below
        params.vep_cache = '/resources//vep_data/release_99
        params.cosmic_vcf = '/resources/COSMIC/COSMIC.vcf'
        params.dbsnp_vcf = '/resources/GRCh37/gatk_bundle/hg19_v0_dbsnp_138.b37.vcf.gz'
        params.dbsnp_vcf_tbi = '/resources/GRCh37/gatk_bundle/hg19_v0_dbsnp_138.b37.vcf.gz.tbi'
        params.known_indel_vcf = '/resources/GRCh37/gatk_bundle/hg19_v0_Mills_and_1000G_gold_standard.indels.b37.vcf.gz'
        params.known_indel_vcf_tbi = '/resources/GRCh37/gatk_bundle/hg19_v0_Mills_and_1000G_gold_standard.indels.b37.vcf.gz.tbi'
        params.known_snp_vcf = '/resources/GRCh37/gatk_bundle/hg19_v0_1000G_phase1.snps.high_confidence.b37.vcf.gz'
        params.known_snp_vcf_tbi = '/resources/GRCh37/gatk_bundle/hg19_v0_1000G_phase1.snps.high_confidence.b37.vcf.gz.tbi'
        params.tumor_panel_bed = '/resources/BEDs/target_regions.bed'
        params.exome_bed = '/resources/BEDs/exome_regions.bed'
        params.exome_plus_tumor_panel_bed = '/resources/BEDs/hs37d5_exome_plus_tumor_panel.sorted.bed'
    }
}

// Load subworkflow config files
includeConfig 'subworkflows/fastq_fastp_fastqc/nextflow.config'
includeConfig 'subworkflows/align_markdup_stats/nextflow.config'
includeConfig 'subworkflows/bam_stats_samtools/nextflow.config'
includeConfig 'subworkflows/bam_recalibration/nextflow.config'