process {
    withName: GATK4_MUTECT2 {
        cpus = 16
        memory = 64.GB
        container = "${params.container_dir}/gatk4.3.simg"
        ext.args = '--seconds-between-progress-updates 600 --dont-use-soft-clipped-bases --max-reads-per-alignment-start 100'
        publishDir = [
            path: { "${params.output_dir}/variants/" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi,vcf.gz.stats,f1r2.tar.gz,yml}",
            saveAs: { "mutect2/${meta.pid}/${it}" }
        ]
    }
    withName: GETPILEUPSUMMARIES_NORMAL {
        container = "${params.container_dir}/gatk4.3.simg"
        publishDir = [
            path: { "${params.output_dir}/variants/" },
            mode: params.publish_dir_mode,
            pattern: "*.{pileups.table,yml}",
            saveAs: { "mutect2/${meta.pid}/${it}" }
        ]
    }
    withName: GETPILEUPSUMMARIES_TUMOR {
        container = "${params.container_dir}/gatk4.3.simg"
        publishDir = [
            path: { "${params.output_dir}/variants/" },
            mode: params.publish_dir_mode,
            pattern: "*.{pileups.table,yml}",
            saveAs: { "mutect2/${meta.pid}/${it}" }
        ]
    }
    withName: GATK4_CALCULATECONTAMINATION {
        cpus = 16
        memory = 64.GB
        container = "${params.container_dir}/gatk4.3.simg"
        publishDir = [
            path: { "${params.output_dir}/variants/" },
            mode: params.publish_dir_mode,
            pattern: "*.{table,yml}",
            saveAs: { "mutect2/${meta.pid}/${it}" }
        ]
    }
    withName: GATK4_FILTERMUTECTCALLS {
        cpus = 16
        memory = 64.GB
        container = "${params.container_dir}/gatk4.3.simg"
        ext.args = '--unique-alt-read-count 5'
        publishDir = [
            path: { "${params.output_dir}/variants/" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi,tsv,yml}",
            saveAs: { "mutect2/${meta.pid}/${it}" }
        ]
    }
    withName: BCFTOOLS_NORM {
        container = "${params.container_dir}/bcftools-v1.20.simg"
        ext.args = '--output-type z'
        publishDir = [
                path: { "${params.output_dir}/variants/" },
                mode: params.publish_dir_mode,
                pattern: "*.{vcf.gz,tbi,yml}",
                saveAs: { "mutect2/${meta.pid}/${it}" }
        ]
    }
}