process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: BWA_INDEX {
        container = "${params.container_dir}/bwa-0.7.18.simg"
    }

    withName: GATK4_CREATESEQDICT {
        container = "${params.container_dir}/gatk4.5.simg"
    }
    withName: SAMTOOLS_FAIDX {
        container = ${params.container_dir}/samtools-v1.20.simg"
    }
}