process {
    withName: BWA_MEM {
        container = "${params.container_dir}/bwa-0.7.18.simg"
        ext.prefix = { "${meta.id}.sort" }
        publishDir = [
            mode: params.publish_dir_mode,
            pattern: "*.{bam,bai,yml}"
        ]
    }
    withName: SAMBAMBA_MARKDUP {
        container = "${params.container_dir}/sambamba-1.0.1.simg"
        ext.args = ' --remove-duplicates --hash-table-size 525000 --overflow-list-size 525000 '
        ext.prefix = { "${meta.id}.sort.dedup" }
        publishDir = [
            mode: params.publish_dir_mode,
            pattern: "*.{bam,bai,yml}"
        ]
    }
    withName: SAMBAMBA_FLAGSTAT {
        container = "${params.container_dir}/sambamba-1.0.1.simg"
        publishDir = [
            mode: params.publish_dir_mode,
            pattern: "*.{stats,yml}"
        ]
    }
}