process {
    withName: GATK4_APPLYBQSR {
        cpus = 16
        memory = 64.GB
        container = "${params.container_dir}/gatk4.3.simg"
        ext.prefix = { "${meta.id}.sort.dedup.recal" }
        ext.args = '--static-quantized-quals 10 --static-quantized-quals 20 --static-quantized-quals 30'
        publishDir = [
            path: { "${params.output_dir}/alignments/" },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,cram}",
            saveAs: { "gatk4/${meta.id}/${it}" }
        ]
    }
    withName: GATK4_BASERECALIBRATOR {
        cpus = 16
        memory = 64.GB
        container = "${params.container_dir}/gatk4.3.simg"
        ext.args = '--use-original-qualities'
        publishDir = [
            path: { "${params.output_dir}/alignments/" },
            mode: params.publish_dir_mode,
            pattern: "*.{table,yml}",
            saveAs: { "gatk4/${meta.id}/${it}" }
        ]
    }
}