process {
    withName: GATK4_APPLYBQSR {
        container = "${params.container_dir}/gatk4.5.simg"
        ext.prefix = { "${meta.id}.sort.dedup.recal" }
        publishDir = [
            path: "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}"
            mode: params.publish_dir_mode,
            pattern: "*.{bam,cram,yml}"
        ]
    }
    withName: GATK4_BASERECALIBRATOR {
        container = "${params.container_dir}/gatk4.5.simg"
        publishDir = [
            path: "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}"
            mode: params.publish_dir_mode,
            pattern: "*.{table,yml}"
        ]
    }
}