process {
    withName: GATK4_APPLYBQSR {
        container = "${params.container_dir}/gatk4.5.simg"
        ext.prefix = { "${meta.id}.sort.dedup.recal" }
        publishDir = [
            mode: params.publish_dir_mode,
            pattern: "*.{bam,cram,yml}"
        ]
    }
    withName: GATK4_BASERECALIBRATOR {
        container = "${params.container_dir}/gatk4.5.simg"
        publishDir = [
            mode: params.publish_dir_mode,
            pattern: "*.{table,yml}"
        ]
    }
}