process {
    container = "${params.container_dir}/samtools-v1.20.simg"
    withName: SAMTOOLS_SORT { 
        publishDir = [
            mode: params.publish_dir_mode,
            pattern: "*.{cram,crai,yml}"
        ]
    }
    withName: SAMTOOLS_FAIDX {
        ext.args = '-o extract.fa'
        publishDir = [
            mode: params.publish_dir_mode,
            pattern: "*.{fai,yml}"
        ]
    }
    withName: SAMTOOLS_CONVERT {
        publishDir = [
            mode: params.publish_dir_mode,
            pattern: "*.{cram,crai,yml}"
        ]
    }
}