process {
    container = "${params.container_dir}/samtools-v1.20.simg"
    withName: SAMTOOLS_STATS { 
        publishDir = [
            mode: params.publish_dir_mode,
            pattern: "*.{stats,yml}"
        ]
    }
    withName: SAMTOOLS_IDXSTATS {
        ext.args = '-o extract.fa'
        publishDir = [
            mode: params.publish_dir_mode,
            pattern: "*.{idxstats,yml}"
        ]
    }
    withName: SAMTOOLS_FLAGSTAT {
        publishDir = [
            mode: params.publish_dir_mode,
            pattern: "*.{flagstat,yml}"
        ]
    }
}